.postsGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.postsGrid .postsGridCell{
    position: relative;
    width: calc(100%/3 - 10px/3);
    aspect-ratio: 1/1;
    padding: 0px;
    margin: 0px;
    padding: 0px;
}
.postsGrid .postPreview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.postsGrid .likesPreview{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: rgba(65, 65, 65, 0.708);
    color: white;
    user-select: none;
    cursor: pointer;
}
.postsGrid .likesPreview p{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.postsGrid .likesPreview p span{
    font-size: 20px;
    align-self: flex-end;
}
