.post{
    display: flex;
    width: 450px;
    border-bottom: 1px solid gray;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.post p{
    margin: 0px;
    font-size: 14px;
}
.post .postHeader{
    display: flex;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    align-items: center;
}
.post .postHeader .userDetails{
    display: flex;
    align-items: center;
    gap: 5px;
}
.post .postHeader img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.post .postHeader .userDetails .names{
    display: flex;
    flex-direction: column;
}
.postHeader .nameAndTime{
    display: flex;
    align-items: center;
    gap: 3px;
}
.postHeader .username{
    font-weight: 500;
    cursor: pointer;
}
.post .postHeader .dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #737373;
    align-self: center;
}
.post .postHeader .time{
    font-size: 14px;
    color: #737373;
}
.post .postHeader i{
    font-size: 20px;
    cursor: pointer;
}
.post .postHeader .postOptions{
    position: relative;
    z-index: 0;
}
.post .postHeader .postOptions .options{
    display: none;
}
.post .postHeader .postOptions .options.active{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(24, 24, 24, 0.403);
    padding: 10px;
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: white;
}
.dark .post .postHeader .postOptions .options.active{
    background-color: rgb(44, 44, 44);
    box-shadow: 0px 0px 5px rgb(76, 76, 76);
}
.post .postHeader .postOptions .option{
    display: flex;
    padding: 8px 20px;
    gap: 5px;
    cursor: pointer;
}
.post .postHeader .postOptions .option:hover{
    background-color: rgb(231, 231, 231);
}
.post .postHeader .postOptions .option.delete{
    border-top:1px solid rgb(195, 195, 195) ;
    color: red;
}
.liked.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.postHeader .location{
    font-size: 12px;
}

.post .postbody img{
    width: 100%;
}
.post .postActions{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.post .likesAndComments{
    display: flex;
    gap: 15px;
}
.post .likesAndComments i{
    cursor: pointer;
}
.post .likes{
    font-weight: 500;
}
.post .description{
    display: flex;
    gap: 5px;
}
.post .description .username{
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
}
.post .viewCommentsDiv{
    display: flex;
    align-items: center;
    gap: 10px;

}
.post .viewComments{
    cursor: pointer;
}
.post .viewCommentsDiv .gettingComments{
    width: 16px;
    height: 16px;
}
.post .commentField{
    display: flex;
    width: 100%;
    align-items: center;
}
.post .commentField textarea{
    background-color: transparent;
    padding: 10px;
    width: 100%;
    height:16px ;
    resize: none;
    border: none;
    font-family: sans-serif;
}
.dark .post .commentField textarea{
    color: white;
}
.post .commentField textarea:focus{
    outline: none;
}
.post .commentField .commentPost{
    display: none;
    padding: 0px 8px;
    padding-bottom: 2.7px;
    cursor: not-allowed;
    user-select: none;
}
.post .commentField .commentPost.active{
    display: block;
    color: rgb(0, 183, 255);
    font-weight: 500;
    cursor: pointer;
}
.post .viewAndHideComments{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.post .comments .commentsHeading{
    font-weight: 500;
}
.post .comments .hideComments{
    font-size: 12px;
    cursor: pointer;
}
@media(max-width:600px),(max-height:450px){
    .post{
        width: 98%;
    }
}